html, body {
    text-align: center;
    scroll-behavior: smooth;
    background-color: #F2F4FC;
    margin: 0 auto;
    padding: 0;
}

* {
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 85%;
    margin: 30px auto;
    font-size: 18px;
    margin-top: 20px;
}

.logo{
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    color: #072AC8;
}

.centered-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.contact-btn{
    background-color: #072AC8;
    padding: 15px;
    width: 90px;
}

.contact-btn a:hover{
    color: #FFC600;
}

.white-text{
    color: white;
    text-decoration: none;
}

.blue-text{
    color: #072AC8;
    font-weight: bold;
    padding: 20px;
    
}

.grey-text{
    color: grey;
    font-weight: bold;
    padding: 20px;
}

.section1{
    display: flex;
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 469px;
    justify-content: space-between;
}

.section1-texts{
    width: 58%;
}

.background-hero{
    background-image: url(../assets/hero-section/hero-image.png);
    background-size: contain;
    width: 41%;
}

.title{
    font-size: 50px;
    color: #292E47;
    padding-top: 50px;
    font-weight: 700;
    letter-spacing: -0.07cap;
}

.subtitle{
    font-size: 24px;
    color: #292E47;
    font-weight: normal;
}

.section1-btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.card1{
    width: 250px;
    position: relative;
    top: 0%;
    left: -15%;
}

.card2{
    width: 250px;
    position: relative;
    bottom: -5%;
    left: 55%
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 120px;
}

.collab-link{
    text-decoration: none;
}

.collab-link:hover{
    text-decoration: none;
}

.collab-logo{
    filter: grayscale(1);
    width: 100px;
    transition-duration: 0.5s;
}

.collab-logo:hover{
    filter: none;
    width: 175px;
    transition-duration: 0.5s;
}

.section3{
    text-align: left;
    padding-top: 120px;
    width: 85%;
    margin: 0 auto;
}

.section3 h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-card{
    width: 30%;
    background-color: white;
    box-shadow: 0px 0px 0px rgb(99, 99, 99);
    transition-duration: 0.5s;
    height: 360px;
}

.project-card:hover{
    box-shadow: 10px 5px 5px rgb(99, 99, 99);
    transition-duration: 0.5s;
}

.project-img{
    width: 100%;
    height: 200px;
}

.project-link{
    text-decoration: none;
}

.project-title{
    color: black;
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-description{
    color: grey;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.learn-more-link{
    color: #072AC8;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
}

.section4{
    margin-top: 200px;
}